.container {
  color: white;
  height: 100%;
  padding: 1rem;
  background: linear-gradient(var(--ion-color-primary), var(--ion-color-warning));
}

.image {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  &__size{
    height: 12rem;
  }
}

.info-producto {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  text-align: center;
  &__title {
    font-size: 20px;
    margin-bottom: 20px;
  }
  &__description {
    font-size: 14px;
  }
}

.btn-continuar {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  &__custom {
    width: 100%;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0px 10px 18px #808289;
  }
  &__text {
    font-weight: 700;
    font-size: 14px;
    color: var(--ion-color-primary);
    letter-spacing: .1rem;
  }
}
