<div class="container">
  <div class="back">
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </div>
  <div class="image">
    <img src="assets/images/new-publication-bg.png" alt="New publication" class="image__size">
  </div>
  <div class="info-producto">
    <span class="info-producto__title">Cuéntanos como es tu producto, así todos lo podrán encontrar</span>
    <span class="info-producto__description">Selecciona una categoría, detalla las características del producto o servicio para que todos sepan que vendes. </span>
  </div>

  <div class="btn-continuar">
    <button class="btn-continuar__custom" (click)="nextStep()"><span class="btn-continuar__text">Continuar</span></button>
  </div>
</div>
