.btn-primary{
  background: red($color: #000000);
}

.title {
  font-size: 20px;
    text-align: center;
}

.layout-buttons {
  background-color: #ff7400;
  border-radius: 12px;
  color: #f2f2f2;
  font-size: 10px;
}
