<div class="container">
  <div class="publication__title">Selecciona las categorías a las cuales pertenezca tu producto o servicio</div>
  <div class="publication__grid">
    <ion-card>
      <ion-card-content class="publication__image-flex">
        <img src="assets/images/01.png" alt="New publication" class="publication__image-size">
      </ion-card-content>
      <ion-card-header>
        <ion-card-title class="publication__title-card">Viajes y turismo</ion-card-title>
      </ion-card-header>
    </ion-card>
    <ion-card>
      <ion-card-content class="publication__image-flex">
        <img src="assets/images/02.png" alt="New publication" class="publication__image-size">
      </ion-card-content>
      <ion-card-header>
        <ion-card-title class="publication__title-card">Moto lujos</ion-card-title>
      </ion-card-header>
    </ion-card>
    <ion-card>
      <ion-card-content class="publication__image-flex">
        <img src="assets/images/03.png" alt="New publication" class="publication__image-size">
      </ion-card-content>
      <ion-card-header>
        <ion-card-title class="publication__title-card">Compra venta</ion-card-title>
      </ion-card-header>
    </ion-card>
    <ion-card>
      <ion-card-content class="publication__image-flex">
        <img src="assets/images/04.png" alt="New publication" class="publication__image-size">
      </ion-card-content>
      <ion-card-header>
        <ion-card-title class="publication__title-card">Concesionarios</ion-card-title>
      </ion-card-header>
    </ion-card>
    <ion-card>
      <ion-card-content class="publication__image-flex">
        <img src="assets/images/05.png" alt="New publication" class="publication__image-size">
      </ion-card-content>
      <ion-card-header>
        <ion-card-title class="publication__title-card">Gruas</ion-card-title>
      </ion-card-header>
    </ion-card>
    <ion-card>
      <ion-card-content class="publication__image-flex">
        <img src="assets/images/06.png" alt="New publication" class="publication__image-size">
      </ion-card-content>
      <ion-card-header>
        <ion-card-title class="publication__title-card">Lavaderos</ion-card-title>
      </ion-card-header>
    </ion-card>
    <ion-card>
      <ion-card-content class="publication__image-flex">
        <img src="assets/images/07.png" alt="New publication" class="publication__image-size">
      </ion-card-content>
      <ion-card-header>
        <ion-card-title class="publication__title-card">Llantas</ion-card-title>
      </ion-card-header>
    </ion-card>
    <ion-card>
      <ion-card-content class="publication__image-flex">
        <img src="assets/images/08.png" alt="New publication" class="publication__image-size">
      </ion-card-content>
      <ion-card-header>
        <ion-card-title class="publication__title-card">Accesorios</ion-card-title>
      </ion-card-header>
    </ion-card>
    <ion-card>
      <ion-card-content class="publication__image-flex">
        <img src="assets/images/09.png" alt="New publication" class="publication__image-size">
      </ion-card-content>
      <ion-card-header>
        <ion-card-title class="publication__title-card">Repuestos</ion-card-title>
      </ion-card-header>
    </ion-card>
    <ion-card>
      <ion-card-content class="publication__image-flex">
        <img src="assets/images/10.png" alt="New publication" class="publication__image-size">
      </ion-card-content>
      <ion-card-header>
        <ion-card-title class="publication__title-card">Tecno</ion-card-title>
      </ion-card-header>
    </ion-card>
  </div>
</div>
